@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: gold;
  text-align: justify;

}

.mui{
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}
.titleFont{
  flex:1;
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;

}

.banner{
  background-image: url("./components/banner/banner2.jpg");
}

.bannerContent{
  height:400px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  justify-content: space-around;
}

.tagLine{
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel{
  height: 50%;
  display: flex;
  align-items: center;
}

.carouselItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.row1{
  background-color: #16171a;
  cursor: pointer;
  font-family:'Roboto', sans-serif;
}
.row1:hover{
  background-color: #464242;
}

.tableCell{
  display: flex;
  gap: 15;
}
.pagination{
  padding: 20;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.493); */
  background-color: #16171a;;
  border-color: white;
  /* border-radius: 10px; */ 
}
/* .pagination:hover{
  background-color: #2d2c2c;
} */

.coinPage{
  display: flex;
}
.sideBar{
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}
.heading{
  font-weight: bold;
  margin-bottom: 20;
  font-family: 'Roboto', sans-serif;
}

.desc{
  width: 70%;
  font-family:'Roboto', sans-serif;
  padding:  25;
  padding-bottom: 15;
  padding-top: 0;
  text-align: justify;
}

.marketData{
  align-self: flex-start;
  padding: 25;
  padding-top: 10;
  width: 100%;
}

.coinInfo{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25;
  padding: 40;
  
}

.selectButton{
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat';
  cursor: pointer;
  background-color: black;
  color: white;
  
  font-weight: 700px;
  width: 22%
}

.SelectButton:hover{
  background-color: gold;
  color: black;
 }
  @media (max-width: 1200px) {
   .coinpage{
     flex-direction: column;
     align-items: center;
    }
    .sideBar{
     width: 100%;
    }
    .marketData{
     display: flex;
     justify-content: space-around;
    }
    .coinInfo{
       width: 100%;
       margin-top: 0;
       padding: 20px;
       padding-top: 0;
    }
 }
 @media (max-width: 700px) {
   .marketData{
     display: flex;
     flex-direction: column;
     align-items: center;
    }
    
 }
 @media (max-width: 500px) {
   .marketData{
     align-items: start;
    }
    .coinInfo{
     width: 100%;
     margin-top: 0;
     padding: 20px;
     padding-top: 0px;
    }
 }
 